$accentColor = #1c1212
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$badgeTip = #42b983
$badgeWarning = darken(#ffe564, 35%)
$badgeError = #DA596

.theme-container.content-page-class-general{
  font-family: 'VT323', monospace;
  background-color: #ffeceb;
  background-size: cover;
  height: 100vh;
  text-align:left;


  aside.sidebar{
    background-color: #ffeceb;
  }

  header.navbar{
    background-color: #ffeceb;
  }

  main.page{
    background-color: #ffeceb;
    line-height: 2;
  }

  div.page-nav{
    background-color: #ffeceb;
    border-color: transparent;

  }
  div.links{
    background-color: #ffeceb;
  }

  img.logo{
    height: 35.19px;
    width: 146.33px;
  }

  img{
        height: 300px;
        width: 300px;
        align: center;
  }


}

.theme-container.custom-page-class {
  font-family: 'Nunito', Monospace ;
  background-image: url('/blockforge_header.jpg');
  background-size: cover;
  height: 140vh;

  input{
    display: none;
  }

  header.navbar {
    background-color: transparent;
    border-color: transparent;
  }

  p.description {
    color:#ffeceb;
  }

  main.home{
    background-color: transparent;
    border-color: transparent;
  }
  div.links{
    background-color: transparent;
    border-color: transparent;
    color: #ffeceb;
  }

  div.footer{
    background-color: transparent;
    border-color: transparent;
    color: #ffeceb;
  }

  h1{
    color:#ffeceb;
  }
  h2{
    color: #ffeceb;
  }
  p{
    color: #ffeceb;
  }
}
