$accentColor = #4299e1
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$badgeTip = #42b983
$badgeWarning = darken(#ffe564, 35%)
$badgeError = #DA596

html {
    background-color: #F7FAFC !important;
  }
body {
    background-color: #F7FAFC !important;
  }

.theme-container.content-page-class-general{
  @css{
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
  }

  // all content within read pages
  div.theme-default-content.content__default {
    background-color: #F7FAFC !important;
    border-color:  #F7FAFC;

    position: relative;
    z-index: 0;
  }

  // main read pages
  main.page{
    font-family: 'Nunito';
    background-color: #F7FAFC;
    background-size: cover;
    width: auto;
    height: 100vh;
    text-align: inherit;
    line-height: 10;
    margin-left: -350px;
  }

  //Logo in all read pages
  img.logo{
    height: 35.19px;
    width: 157.5px;
  }

  // sidebar in read pages
  aside.sidebar{
    font-family: 'Russo One';
    background-color: #F7FAFC;
    border-color: #DBEAFE;
  }

  //navbar in read pages
  header.navbar{
    font-family: 'Russo One';
    background-color: #F7FAFC;
  }

  header.hero img{
    max-width: 500px;
  }
  // Footer page navigator
  div.page-nav{
    background-color: #F7FAFC;
    border-color: transparent;
    font-weight: 10;
    line-height: 2;
    margin-left: auto;
  }

  // Top header links in read pages
  div.links{
    background-color: #F7FAFC;
  }

  footer{
    background-color: #F7FAFC;
  }
  // all h1 in read pages
  h1 {
    font-family: 'Russo One';
    font-size: 36px;
  }

  // all h2 in read pages
  h2{
    padding-top: 6rem;
    font-family: 'Russo One';
  }

  h3{
    font-family: 'Russo One';
  }


  // all p in read pages
  p{
    line-height: 2;
  }


  // Lists within Read Pages
  div.theme-default-content li {
    width: inherit;
    height: inherit;
    padding: .5rem;
    font-weight: 500;
    padding-left: 1rem;
    --tw-space-y-reverse: 0;
    color: #2A4365;
    margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem * calc(1-var(--tw-space-y-reverse)));
    border-radius: 0px;
    border: 1px solid #BEE3F8;
    list-style: none;
    background-color: #EBF8FF;

  }

  // Lists within Read Pages
  div.theme-default-content ul {
    width: inherit;
    height: inherit;
    padding: 0rem;
    margin: 0;
    border-radius: 0px;
    list-style: none;
  }

  // Lists within Read Pages
  div.theme-default-content p {
    width: inherit;
    height: inherit;
    padding: 0rem;
    margin: 0;
    border-radius: 0px;
    list-style: none;
  }

// All these are for the timeline
  .container {
    min-height: 100vh;
    width: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    background-color: #F7FAFC;
  }
  .timeline {
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
  }

  .timeline ul {
    list-style: none;
    text-align: left;
  }
  .timeline ul li {
    padding: 20px;
    --border-opacity: 1;
    background-color: #111827;
    color: #111827;
    margin-bottom: 20px;
  }
  .timeline ul li:last-child {
    margin-bottom: 20px;
  }

  .timeline-content h1 {
    font-weight: 10;
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 10px;
    text-align: left;
    color:#F7FAFC;
  }

  .timeline-content p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: #F7FAFC;
  }
  .timeline-content date {
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 10px;
    letter-spacing: 10px;
  }

  @media only screen and (min-width: 768px) {
    .timeline:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 2px;
      height: 100%;
      background-color: #718096;
    }
    .timeline ul li {
      width: 50%;
      position: relative;
      margin-bottom: 50px;
    }
    .timeline ul li:nth-child(odd) {
      float: left;
      clear: right;
      transform: translateX(-30px);
      border-radius: 20px 0px 20px 20px;
    }
    .timeline ul li:nth-child(even) {
      float: right;
      clear: left;
      transform: translateX(30px);
      border-radius: 0px 20px 20px 20px;
    }
    .timeline ul li::before {
      content: "";
      position: absolute;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: #63B3ED;
      top: 0px;
    }
    .timeline ul li:nth-child(odd)::before {
      transform: translate(50%, -50%);
      right: -21px;
    }
    .timeline ul li:nth-child(even)::before {
      transform: translate(-50%, -50%);
      left: -41px;
    }
    .timeline-content date {

    }
    .timeline ul li:hover::before {
      background-color: #4299e1;
    }
  }
}

// Styling for the Landing Page/Hero Page
.theme-container.custom-page-class {
  @css{
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
  }


  font-family: 'Nunito';
  background-image: url('/blockforge_header.jpg');
  background-size: cover;
  height: 140vh;

  input{
    display: none;
  }


  header.navbar {
    background-color: transparent;
    border-color: transparent;
  }

  p.description {
    color:#F7FAFC;
  }

  main.home{
    background-color: transparent;
    border-color: transparent;
  }
  div.links{
    background-color: transparent;
    border-color: transparent;
    color: #F7FAFC;
    font-family: 'Russo One';
  }

  div.footer{
    background-color: transparent;
    border-color: transparent;
    color: #F7FAFC;
    font-family: 'Montserrat';
    font-weight: lighter;
  }

  h1{
    color:#F7FAFC;
  }
  h2{
    font-family: 'Russo One';
    color: #F7FAFC;
  }
  h3{
    font-family: 'Russo One';
    color: #F7FAFC;
  }
  p{
    font-family: 'Montserrat';
    color: #F7FAFC;
  }

  p.description{
    font-family: 'Nunito';
    color: #F7FAFC;
  }

  a.nav-link.action-button{
    font-family: 'Russo One';
    color: #F7FAFC;
  }
}
