$accentColor = #1c1212
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$badgeTip = #42b983
$badgeWarning = darken(#ffe564, 35%)
$badgeError = #DA596

.theme-container.content-page-class{
  font-family: 'VT323', monospace;

  img.logo{
    height: 35.19px;
    width: 146.33px;
  }

  img{
        height: 300px;
        width: 300px;
  }
}

.theme-container.custom-page-class {
  font-family: 'VT323', monospace;
  background-image: url('/blockforge_header.jpg');
  background-size: cover;
  height: 100vh;

  header.navbar {
    background-color: transparent;
    border-color: transparent;
  }

  p.description {
    color:white;
  }

  div.links{
    background-color: transparent;
    border-color: transparent;
    color: white;
  }

  div.footer{
    background-color: transparent;
    border-color: transparent;
    color: white;
  }

  h1{
    color:white;
  }
  h2{
    color: white;
  }
  p{
    color: white;
  }
}
